.selected{
    border: 2px solid yellow;
    margin-bottom:10px;
}
.item{
    padding: 10px;
    padding-bottom:20px;
    border-radius: 10px;
}

.container{
    margin-top: 20px;
}

.title{
    font-size: 20px;
    font-weight: bold;
}

.max.title{
    color: cyan;
}

.cost.title{
    color:red;
}

.value.title{
    color:green;
}